#mexmonxonalar {
  padding: 40px 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='960' preserveAspectRatio='none' viewBox='0 0 1440 960'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1105%26quot%3b)' fill='none'%3e%3cpath d='M80.71 -14.31L155.19 28.69L155.19 114.69L80.71 157.69L6.23 114.69L6.23 28.69zM155.19 114.69L229.67 157.69L229.67 243.69L155.19 286.69L80.71 243.69L80.71 157.69zM155.19 372.69L229.67 415.69L229.67 501.69L155.19 544.69L80.71 501.69L80.71 415.69zM155.19 630.69L229.67 673.69L229.67 759.69L155.19 802.69L80.71 759.69L80.71 673.69zM80.71 759.69L155.19 802.69L155.19 888.69L80.71 931.69L6.23 888.69L6.23 802.69zM229.67 243.69L304.15 286.69L304.15 372.69L229.67 415.69L155.19 372.69L155.19 286.69zM229.67 501.69L304.15 544.69L304.15 630.69L229.67 673.69L155.19 630.69L155.19 544.69zM304.15 630.69L378.63 673.69L378.63 759.69L304.15 802.69L229.67 759.69L229.67 673.69zM229.67 759.69L304.15 802.69L304.15 888.69L229.67 931.69L155.19 888.69L155.19 802.69zM453.11 114.69L527.59 157.69L527.59 243.69L453.11 286.69L378.63 243.69L378.63 157.69zM453.11 372.69L527.59 415.69L527.59 501.69L453.11 544.69L378.63 501.69L378.63 415.69zM453.11 888.69L527.59 931.69L527.59 1017.69L453.11 1060.69L378.63 1017.69L378.63 931.69zM527.59 243.69L602.07 286.69L602.07 372.69L527.59 415.69L453.11 372.69L453.11 286.69zM676.55 -14.31L751.03 28.69L751.03 114.69L676.55 157.69L602.07 114.69L602.07 28.69zM751.03 372.69L825.51 415.69L825.51 501.69L751.03 544.69L676.55 501.69L676.55 415.69zM676.55 759.69L751.03 802.69L751.03 888.69L676.55 931.69L602.07 888.69L602.07 802.69zM751.03 888.69L825.51 931.69L825.51 1017.69L751.03 1060.69L676.55 1017.69L676.55 931.69zM825.51 501.69L899.99 544.69L899.99 630.69L825.51 673.69L751.03 630.69L751.03 544.69zM899.99 888.69L974.47 931.69L974.47 1017.69L899.99 1060.69L825.51 1017.69L825.51 931.69zM1048.95 114.69L1123.43 157.69L1123.43 243.69L1048.95 286.69L974.47 243.69L974.47 157.69zM1048.95 372.69L1123.43 415.69L1123.43 501.69L1048.95 544.69L974.47 501.69L974.47 415.69zM974.47 501.69L1048.95 544.69L1048.95 630.69L974.47 673.69L899.99 630.69L899.99 544.69zM1123.43 -14.31L1197.91 28.69L1197.91 114.69L1123.43 157.69L1048.95 114.69L1048.95 28.69zM1197.91 114.69L1272.39 157.69L1272.39 243.69L1197.91 286.69L1123.43 243.69L1123.43 157.69zM1123.43 759.69L1197.91 802.69L1197.91 888.69L1123.43 931.69L1048.95 888.69L1048.95 802.69zM1346.88 372.69L1421.36 415.69L1421.36 501.69L1346.88 544.69L1272.39 501.69L1272.39 415.69zM1272.39 501.69L1346.88 544.69L1346.88 630.69L1272.39 673.69L1197.91 630.69L1197.91 544.69zM1346.88 630.69L1421.36 673.69L1421.36 759.69L1346.88 802.69L1272.39 759.69L1272.39 673.69zM1346.88 888.69L1421.36 931.69L1421.36 1017.69L1346.88 1060.69L1272.39 1017.69L1272.39 931.69zM1421.36 -14.31L1495.84 28.69L1495.84 114.69L1421.36 157.69L1346.88 114.69L1346.88 28.69zM1495.84 372.69L1570.32 415.69L1570.32 501.69L1495.84 544.69L1421.36 501.69L1421.36 415.69zM1421.36 501.69L1495.84 544.69L1495.84 630.69L1421.36 673.69L1346.88 630.69L1346.88 544.69zM1421.36 759.69L1495.84 802.69L1495.84 888.69L1421.36 931.69L1346.88 888.69L1346.88 802.69zM1495.84 888.69L1570.32 931.69L1570.32 1017.69L1495.84 1060.69L1421.36 1017.69L1421.36 931.69z' stroke='rgba(0%2c 0%2c 0%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1105'%3e%3crect width='1440' height='960' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 850px) {
    display: block;
  }
  .row_content {
    overflow: hidden !important;
    height: 300px;
    border-radius: 30px;
    margin: 20px 0;
    img {
      transition: 0.5s all;
      width: 100% !important;
      object-fit: cover !important;
      border-radius: 30px;
      &:hover {
        transform: scale(1.2);
      }
    }
    h2 {
      position: relative !important;
      text-align: center;
      color: #fff;
      top: -50px;
    }
  }
}

.first_content {
  width: 100% !important;
  overflow: hidden !important;
  height: 600px;
  margin-bottom: 20px;
  border-radius: 30px;
  img {
    transition: 0.5s all;
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 30px;
    &:hover {
      transform: scale(1.2);
    }
  }
  h2 {
    position: relative !important;
    text-align: center;
    color: #fff;
    top: -260px;
  }
}
