#mexmonxonalar {
  padding: 20px 0;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 850px) {
    display: block;
  }
  .row_content {
    overflow: hidden !important;
    height: 300px;
    border-radius: 30px;
    margin: 20px 0;
    img {
      transition: 0.5s all;
      width: 100% !important;
      object-fit: cover !important;
      border-radius: 30px;
      &:hover {
        transform: scale(1.2);
      }
    }
    h2 {
      position: relative !important;
      text-align: center;
      color: #fff;
      top: -50px;
    }
  }
}

.first_content {
  width: 100% !important;
  overflow: hidden !important;
  height: 600px;
  margin-bottom: 20px;
  border-radius: 30px;
  img {
    transition: 0.5s all;
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 30px;
    &:hover {
      transform: scale(1.2);
    }
  }
  h2 {
    position: relative !important;
    text-align: center;
    color: #fff;
    top: -260px;
  }
}
