#gipermarket {
  padding: 20px 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 850px) {
    display: block;
  }
}

.row_content {
  width: 100%;
  overflow: hidden !important;
  height: 300px;
  @media (max-width: 850px) {
    margin: 20px 0;
  }
  border-radius: 30px;
  img {
    transition: 0.5s all;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 30px;
    &:hover {
      transform: scale(1.2);
    }
  }
  h2 {
    position: relative !important;
    text-align: center;
    color: #fff;
    top: -50px;
  }
}
