.shrink {
  transition: 0.2s all;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .nav {
    transition: 0.2s all;
    height: 80px !important;
  }
}

.header {
  transition: 0.2s all;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  font-family: "Sora";
  z-index: 999;
  padding-left: 12px;
  .nav {
    transition: 0.2s all;
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__toggle {
      display: none;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: (#000);
      @media (max-width: 850px) {
        display: flex;
      }
    }
    .indicator {
      width: 60px;
      height: 3px;
      // background-color: (#000);
      position: absolute;
      left: 23px;
      bottom: 25%;
      transform: translateX(-50%);
      border-radius: 25px;
      transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      @media (max-width: 850px) {
        display: none;
      }
    }
    &__logo {
      img {
        filter: grayscale(200%);
      }
    }
    .headerClose {
      right: -100%;
      animation: hideModal 0.3s forwards;
      opacity: 1;
      position: fixed;
      overflow: scroll;
      z-index: 99999;
      width: 100% !important;
      min-height: 100vh;
      top: 90px;
      padding: 0;
      padding: 20px 0;
      background: #fff;
      color: #000 !important;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      @media (min-width: 850px) {
        width: 70% !important;
      }
    }
    .headerOpen {
      right: 100%;
      animation: openModal 0.3s forwards;
      opacity: 1;
      position: fixed;
      z-index: 99999;
      width: 100% !important;
      height: 100vh;
      top: 70px;
      padding: 20px 0;
      background: #ffffff;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      @media (min-width: 850px) {
        width: 70% !important;
      }

      a {
        display: block;
        color: #000;
        font-size: 18px;
        margin: 5px 0;
        text-decoration: none;
        li {
          display: block;
          list-style: none !important;
          margin: 0 !important;
          max-width: none;
          height: 30px !important;
        }
      }
    }
    a {
      display: none;
    }
    &__actions {
      img:first-child {
        margin-left: -8px;
      }
      button {
        background: transparent !important;
        border: none !important;
        margin-right: 2px;
      }
    }
  }
}

@keyframes openModal {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes hideModal {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
